@import "./sass/fonts.scss";
@import "./sass/colors.scss";
$font-Red-Hat-Text: 'Red Hat Text', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:$font-Red-Hat-Text;
    // overflow-y: hidden;
    .main-container{
        max-height: 100vh;
        width: 100% !important;
        .container{
            width: 100% !important;
            min-width: 100% !important;
            background:linear-gradient(180deg,$Verydarkblue2 40%, $Verydarkblue1 60%);
            .header{
                width: 100%;
            }
            .footer{
                margin-top: -180px;
                position: relative;
                z-index: 1;
                .socials{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 100;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 40px;
                }
            }
            .counter-container{
                position: relative;
                z-index: 1000;
                top:-410px;
                left: 35px;
                margin: 0 auto;
                width: 70%;
                display: flex;
                align-self: center;
                justify-content: center;
                align-items: center;

                h1{
                    color: aliceblue;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-size: 19px;
                    font-weight: 700;
                }
                .counter-cards{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1000;
                    
                }
            }
           
        }
    }
    
}